html {
  height: 100%;
  width: 100%;

  body {
    height: 100%;
    width: 100%;

    #gcontainer {
      height: 100%;
      width: 100%;
    }
  }
}


#game {

  background-image: url('../images/mapa_main1.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat ;
  //background-size: contain;
  //background-position-x: 50%;
  //background-position-y: 0%;
  width: 100%;
  height: 100%;
  // min-height: 100%;
  // min-width: 100%;
  position: relative;



  .castle {
    position: absolute;
    top: 9.6%;
    left: 51.1%;
    //background-image: url('../images/castle.png');
    background-repeat: no-repeat;
    background-size: 100% 70%;
    width: 13%;
    height: 43%;
  }

  .church {
    position: absolute;
    top: 24.6%;
    left: 56.1%;
    //background-image: url('../images/church.png');
    background-repeat: no-repeat;
    background-size: 100% 70%;
    width: 34%;
    height: 43%;
  }
  .barracks {
    position: absolute;
    top: 44.6%;
    left: 63.1%;
    //background-image: url('../images/barracks.png');
    background-repeat: no-repeat;
    background-size: 100% 70%;
    width: 13%;
    height: 43%;
  }

  .forge {
    position: absolute;
    top: 56.6%;
    left: 36.1%;
    //background-image: url('../images/forge.png');
    background-repeat: no-repeat;
    background-size: 100% 70%;
    width: 13%;
    height: 43%;
  }

  .tavern {
    position: absolute;
    top: 8.6%;
    left: 32.1%;;
    //background-image: url('../images/tavern.png');
    background-repeat: no-repeat;
    background-size: 100% 70%;
    width: 13%;
    height: 43%;
  }


  .warehouse {
    position: absolute;
    top: 23.6%;
    left: 24.1%;
    //background-image: url('../images/warehouse.png');
    background-repeat: no-repeat;
    background-size: 100% 70%;
    width: 13%;
    height: 43%;
  }


  .tower {
    position: absolute;
    top: 61.6%;
    left: 49.1%;
    //background-image: url('../images/tower.png');
    background-repeat: no-repeat;
    background-size: 100% 70%;
    width: 13%;
    height: 35%;
  }



  .cavalry {
    position: absolute;
    top: 45.6%;
    left: 23.1%;
    //background-image: url('../images/cavalry.png');
    background-repeat: no-repeat;
    background-size: 100% 70%;
    width: 13%;
    height: 34%;
  }

  .market {
    position: absolute;
    top: 22.6%;
    left: 39.1%;
    //background-image: url('../images/market.png');
    background-repeat: no-repeat;
    background-size: 100% 70%;
    width: 13%;
    height: 43%;
  }

  .wall {
    position: absolute;

    //background-image: url('../images/wall.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0.0%;
    left: 1.1%;
    width: 97%;
    height: 97%;

  }

  .stoneMine {
    position: absolute;

    //background-image: url('../images/minestone.png');
    background-repeat: no-repeat;
    background-size: 100% 70%;
    width: 13%;
    height: 23%;
    top: 2.6%;
    left: 11.1%;

  }

  .goldMine{
    position: absolute;
    top: 1.6%;
    left: 79.1%;
    //background-image: url('../images/minegold.png');
    background-repeat: no-repeat;
    background-size: 100% 70%;
    width: 14%;
    height: 29%;

  }
  .gold{
    position: absolute;
    left: 40%;
    width: 10%;
    height: 10%;
    background-color: orange;
    opacity: 0.5;
    border: solid #000;
    text-align: center;


  }
  .stone{
    position: absolute;
    left: 50%;
    width: 10%;
    height: 10%;
    background-color: grey;
    opacity: 0.5;
    border: solid #000;
    text-align: center;


  }

  div.gold p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
    font-size: x-large;

  }
  div.stone p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
    font-size: x-large;

  }



}