html {
    #wmap {
      height: 100%;
      width: 100%;
    }
  }


#map{
  background-image: url('../images/worldmap1.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat ;
  width: 100%;
  height: 100%;
  position: relative;

  .r1{
    position: absolute !important;
    top: 46.6% !important;
    left: 2.3% !important;
    background-repeat: no-repeat !important;
    background-size: 63% 72% !important;
    width: 14% !important;
    height: 19% !important;
    font-weight: bold;
    color: #f8f8f8;
    font-size: large;
    //text-align: center;

  }

  .r2{
     position: absolute !important;
     top: 25.6% !important;
     left: 31.3% !important;
     background-repeat: no-repeat !important;
     background-size: 63% 72% !important;
     width: 14% !important;
     height: 19% !important;
    font-weight: bold;
    color: #f8f8f8;
    font-size: large;

   }

  .r3{
    position: absolute !important;
    top: 40.6% !important;
    left: 49.3% !important;
    background-repeat: no-repeat !important;
    background-size: 63% 72% !important;
    width: 14% !important;
    height: 19% !important;
    font-weight: bold;
    color: #f8f8f8;
    font-size: large;
  }

  .r4{
    position: absolute !important;
    top: 77.6% !important;
    left: 53.3% !important;
    background-repeat: no-repeat !important;
    background-size: 63% 72% !important;
    width: 14%!important;
    height: 19%!important;
    font-weight: bold;
    color: #f8f8f8;
    font-size: large;
  }

  .r5{
    position: absolute !important;
    top: 15.6% !important;
    left: 67.3% !important;
    background-repeat: no-repeat !important;
    background-size: 63% 72% !important;
    width: 14% !important;
    height: 19% !important;
    font-weight: bold;
    color: #f8f8f8;
    font-size: large;
  }

  .retrun {
    float: left;
    width: 10%;
    height: 100%;
    // background-color: #3c763d;
    // opacity: 0.8;
  }


  .dropbtnr {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdownr {
    position: relative;
    display: inline-block;
  }

  #world{
    float: left;
    width: 30%;




  }

  .dropbtn {
    //background-color: #4CAF50;
    //color: white;
    //padding: 16px;
    font-size: 16px;
    //border: none;
    cursor: pointer;
    float: right;

  }

  .dropdown {
    position: relative;
    display: inline-block;


  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7f7f7;
    margin-top: 10%;
    margin-left: 60%;
    min-width: 160px;
    //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .dropdown-content p {
    color: #660000;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content p:hover {background-color: #b92c28}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #b92c28;
  }


}

