<!DOCTYPE html>
<html>
    <head>

        <title>MedievalWar</title>
        <base href="/" />

        <link type="text/css" rel="stylesheet" href="bower_components/ui-select/dist/select.css" />
        <link type="text/css" rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
        <link type="text/css" rel="stylesheet" href="styles/main.css" />


        <script type="text/javascript" src="http://localhost:4321/livereload.js" ></script>


        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js" ></script>
        <script type="text/javascript" src="/bower_components/lodash/lodash.js" ></script>
        <script type="text/javascript" src="/bower_components/angular/angular.js" ></script>
        <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.js" ></script>
        <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js" ></script>
        <script type="text/javascript" src="/bower_components/ui-select/dist/select.js" ></script>
        <script type="text/javascript" src="/bower_components/angular-simple-logger/dist/angular-simple-logger.js" ></script>
        <script type="text/javascript" src="/scripts/socket.io.js" ></script>
        <script type="text/javascript" src="/scripts/main.js" ></script>

    </head>
    <body ng-app="MedievalWar" >

        <div ng-if="!user" ng-include="'partials/pages/login.html'" ></div>
        <div ng-if="user && !wMap" id="gcontainer" ng-include="'partials/pages/game.html'" ></div>
        <div ng-if="user && wMap" id="wmap" ng-include="'partials/pages/world_map.html'" ></div>

    </body>
</html>
