<div id="game" ng-controller="gameCtrl" >

    <div class="wall" style="background-image: url('../images/wall.png')" ng-click="create('wall')" ng-if="game.wall.level > 0" ></div>
    <div class="wall" ng-click="create('wall')" ng-if="game.wall.level == 0" ></div>
    <div class="wall"  ng-if="game.wall.finish" ></div>
    <div class="wallbuild" style="background-image: url('../images/gifbuild.gif')" ng-if="game.wall.finish" ></div>

    <div class="castle" style="background-image: url('../images/castle.png')" ng-click="create('castle')" ng-if="game.castle.level > 0" ></div>
    <div class="castle" ng-click="create('castle')" ng-if="game.castle.level == 0" ></div>
    <div class="castle" style="background-image: url('../images/gifbuild.gif')" ng-if="game.castle.finish" ></div>

    <div class="church" style="background-image: url('../images/church.png')" ng-click="create('church')" ng-if="game.church.level > 0" ></div>
    <div class="church" ng-click="create('church')" ng-if="game.church.level == 0" ></div>
    <div class="church" style="background-image: url('../images/gifbuild.gif')" ng-if="game.church.finish" ></div>

    <div class="barracks" style="background-image: url('../images/barracks.png')" ng-click="create('barracks')" ng-if="game.barracks.level > 0" ></div>
    <div class="barracks" ng-click="create('barracks')" ng-if="game.barracks.level == 0" ></div>
    <div class="barracks" style="background-image: url('../images/gifbuild.gif')" ng-if="game.barracks.finish" ></div>

    <div class="forge" style="background-image: url('../images/forge.png')" ng-click="create('forge')" ng-if="game.forge.level > 0" ></div>
    <div class="forge" ng-click="create('forge')" ng-if="game.forge.level == 0" ></div>
    <div class="forge" style="background-image: url('../images/gifbuild.gif')" ng-if="game.forge.finish" ></div>


    <div class="tavern" style="background-image: url('../images/tavern.png')" ng-click="create('tavern')" ng-if="game.tavern.level > 0" ></div>
    <div class="tavern" ng-click="create('tavern')" ng-if="game.tavern.level == 0" ></div>
    <div class="tavern" style="background-image: url('../images/gifbuild.gif')" ng-if="game.tavern.finish" ></div>

    <div class="warehouse" style="background-image: url('../images/warehouse.png')" ng-click="create('warehouse')" ng-if="game.warehouse.level > 0" ></div>
    <div class="warehouse" ng-click="create('warehouse')" ng-if="game.warehouse.level == 0" ></div>
    <div class="warehouse" style="background-image: url('../images/gifbuild.gif')" ng-if="game.warehouse.finish" ></div>


    <div class="tower" style="background-image: url('../images/tower.png')" ng-click="create('tower')" ng-if="game.tower.level > 0" ></div>
    <div class="tower" ng-click="create('tower')" ng-if="game.tower.level == 0" ></div>
    <div class="tower" style="background-image: url('../images/gifbuild.gif')" ng-if="game.tower.finish" ></div>


    <div class="cavalry" style="background-image: url('../images/cavalry.png')" ng-click="create('cavalry')" ng-if="game.cavalry.level > 0" ></div>
    <div class="cavalry" ng-click="create('cavalry')" ng-if="game.cavalry.level == 0" ></div>
    <div class="cavalry" style="background-image: url('../images/gifbuild.gif')" ng-if="game.cavalry.finish" ></div>

    <div class="market" style="background-image: url('../images/market.png')" ng-click="create('market')" ng-if="game.market.level > 0" ></div>
    <div class="market" ng-click="create('market')" ng-if="game.market.level == 0" ></div>
    <div class="market" style="background-image: url('../images/gifbuild.gif')" ng-if="game.market.finish" ></div>

    <div class="stoneMine" style="background-image: url('../images/minestone.png')" ng-click="create('stoneMine')" ng-if="game.stoneMine.level > 0" ></div>
    <div class="stoneMine" ng-click="create('stoneMine')" ng-if="game.stoneMine.level == 0" ></div>
    <div class="stoneMine" style="background-image: url('../images/gifbuild.gif')" ng-if="game.stoneMine.finish" ></div>

    <div class="goldMine" style="background-image: url('../images/minegold.png')" ng-click="create('goldMine')" ng-if="game.goldMine.level > 0" ></div>
    <div class="goldMine" ng-click="create('goldMine')" ng-if="game.goldMine.level == 0" ></div>
    <div class="goldMine" style="background-image: url('../images/gifbuild.gif')" ng-if="game.goldMine.finish" ></div>



    <div class="gold">
        <p>{{game.resources.gold}}</p>
    </div>
    <div class="stone">
        <p>{{game.resources.stone}}</p>
    </div>

    <div class="tropsw" style="background-image: url('../images/sword.png')" ng-if="game.barracks.level > 0">
        <p>Warriors</p>
        <p>{{game.warrior.number}}</p>
    </div>
    <div class="tropsa" style="background-image: url('../images/arch.png')" ng-if="game.barracks.level > 1">
        <p>Archer</p>
        <p>{{game.archer.number}}</p>
    </div>

    <div class="menu">
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <p ng-click="create('castle')" >Castle</p>
                <p ng-click="create('wall')" >Wall</p>
                <p ng-click="create('tower')" >Tower</p>
                <p ng-click="create('barracks')" >Barracks</p>
                <p ng-click="create('stoneMine')" >Stone Mine</p>
                <p ng-click="create('goldMine')" >Gold Mine</p>
                <p ng-click="worldMap()" >World Map</p>
            </div>
        </div>
    </div>

    <div class="army" ng-if="game.barracks.level > 0">
        <div class="dropdown" style="float:right;">
            <button class="dropbtn">Army</button>
            <div class="dropdown-content " style="right: 0">
                <p ng-click="create('warrior')" >Warrior</p>
                <p ng-click="create('archer')" ng-if="game.barracks.level > 1" >Archer</p>
            </div>
        </div>
    </div>



</div>

