<div id="game" ng-controller="gameCtrl" >


    <div class="castle" style="background-image: url('../images/castle.png')" ng-click="create('castle')" ng-if="game.castle.level > 0" ></div>
    <div class="castle" ng-click="create('castle')" ng-if="game.castle.level == 0" ></div>

    <div class="church" style="background-image: url('../images/church.png')" ng-click="create('church')" ng-if="game.church.level > 0" ></div>
    <div class="church" ng-click="create('church')" ng-if="game.church.level == 0" ></div>

    <div class="barracks" style="background-image: url('../images/barracks.png')" ng-click="create('barracks')" ng-if="game.barracks.level > 0" ></div>
    <div class="barracks" ng-click="create('barracks')" ng-if="game.barracks.level == 0" ></div>

    <div class="forge" style="background-image: url('../images/forge.png')" ng-click="create('forge')" ng-if="game.forge.level > 0" ></div>
    <div class="forge" ng-click="create('forge')" ng-if="game.forge.level == 0" ></div>

    <div class="tavern" style="background-image: url('../images/tavern.png')" ng-click="create('tavern')" ng-if="game.tavern.level > 0" ></div>
    <div class="tavern" ng-click="create('tavern')" ng-if="game.tavern.level == 0" ></div>

    <div class="warehouse" style="background-image: url('../images/warehouse.png')" ng-click="create('warehouse')" ng-if="game.warehouse.level > 0" ></div>
    <div class="warehouse" ng-click="create('warehouse')" ng-if="game.warehouse.level == 0" ></div>

    <div class="tower" style="background-image: url('../images/tower.png')" ng-click="create('tower')" ng-if="game.tower.level > 0" ></div>
    <div class="tower" ng-click="create('tower')" ng-if="game.tower.level == 0" ></div>

    <div class="cavalry" style="background-image: url('../images/cavalry.png')" ng-click="create('cavalry')" ng-if="game.cavalry.level > 0" ></div>
    <div class="cavalry" ng-click="create('cavalry')" ng-if="game.cavalry.level == 0" ></div>

    <div class="market" style="background-image: url('../images/market.png')" ng-click="create('market')" ng-if="game.market.level > 0" ></div>
    <div class="market" ng-click="create('market')" ng-if="game.market.level == 0" ></div>



</div>