<div id="game" ng-controller="gameCtrl" >
    <div id="mineGold" ></div>

<!--<img class="background" src="../images/mapa_main1.jpg" />-->
    <div id="wall" ></div>
<div id="castle" >
    <!--<img src="../images/Castillo1.png" ng-if="game.castle.level >= 1" />-->
    <!--<img src="../images/Castillo1.png"  />--></div>
    <div id="church" ></div>
    <div id="barracks" ></div>
    <div id="forge" ></div>
    <div id="tavern" ></div>
    <div id="warehouse" ></div>
    <div id="tower" ></div>
    <div id="cavalry" ></div>
    <div id="market" ></div>
    <div id="mineStone" ></div>


</div>