<div id="map" ng-controller="worldMapCtrl" >

    <div class="r1 dropdown dropbtn" style="background-image: url('../images/worldmapcity.png')">

            <div class="dropdown-content">
                <p>Attack</p>
            </div>
    </div>
    <!--<div class="r1"></div>-->
    <div class="r2" style="background-image: url('../images/worldmapcity.png')"></div>
    <div class="r3" style="background-image: url('../images/worldmapcity.png')"></div>
    <div class="r4" style="background-image: url('../images/worldmapcity.png')"></div>
    <div class="r5" style="background-image: url('../images/worldmapcity.png')"></div>

    <div class="retrun">
        <div class="dropdownr">
            <button class="dropbtnr" ng-click="return()">Return</button>
        </div>

    </div>


    <div id="world">

        <div class="input-group">

            <span class="input-group-addon" id="basic-addon1" >World</span>
            <input type="number" min="1" class="form-control" ng-change="search()" ng-model="filter.world">

        </div>

    </div>



</div>