<div id="map" ng-controller="worldMapCtrl" >

    <div class="r1 dropdown dropbtn" style="background-image: url('../images/worldmapcity.png')" ng-if="world.game[0]">
            <p>{{world.users[0].username}}</p>
            <div class="dropdown-content">
                <p ng-click="attack(world.game[0])">Attack</p>
            </div>
    </div>

    <div class="r2 dropdown dropbtn" style="background-image: url('../images/worldmapcity.png')" ng-if="world.game[1]">
        <p>{{world.users[1].username}}</p>
        <div class="dropdown-content">
            <p ng-click="attack(world.game[1])">Attack</p>
        </div>
    </div>
    <div class="r3 dropdown dropbtn" style="background-image: url('../images/worldmapcity.png')" ng-if="world.game[2]">
        <p>{{world.users[2].username}}</p>
        <div class="dropdown-content">
            <p ng-click="attack(world.game[2])">Attack</p>
        </div>

    </div>
    <div class="r4 dropdown dropbtn" style="background-image: url('../images/worldmapcity.png')" ng-if="world.game[3]">
        <p>{{world.users[3].username}}</p>
        <div class="dropdown-content">
            <p ng-click="attack(world.game[3])">Attack</p>
        </div>
    </div>
    <div class="r5 dropdown dropbtn" style="background-image: url('../images/worldmapcity.png')" ng-if="world.game[4]">
        <p>{{world.users[4].username}}</p>
        <div class="dropdown-content">
            <p ng-click="attack(world.game[4])">Attack</p>
        </div>
    </div>

    <div class="retrun">
        <div class="dropdownr">
            <button class="dropbtnr" ng-click="return()">Return</button>
        </div>

    </div>


    <div id="world">

        <div class="input-group">

            <span class="input-group-addon" id="basic-addon1" >World</span>
            <input type="number" min="1" class="form-control" ng-change="search()" ng-model="filter.world">

        </div>

    </div>



</div>